@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Coffee Shop</h1>
    <p>We sell <a asp-controller="Product" asp-action="Index">Coffee</a>. :)</p>
</div>
